/CompressionException.class
/Crc32c.class
/DecompressionException.class
/JZlibDecoder.class
/JZlibEncoder.class
/JdkZlibDecoder$GzipState.class
/JdkZlibDecoder.class
/JdkZlibEncoder$1.class
/JdkZlibEncoder$2.class
/JdkZlibEncoder$3.class
/JdkZlibEncoder.class
/Snappy$State.class
/Snappy.class
/SnappyFramedDecoder$ChunkType.class
/SnappyFramedDecoder.class
/SnappyFramedEncoder.class
/ZlibCodecFactory.class
/ZlibDecoder.class
/ZlibEncoder.class
/ZlibUtil.class
/ZlibWrapper.class
/package-info.class
